.peg-ladder-enter-active, .peg-ladder-leave-active
  transition: opacity .6s
.peg-ladder-enter, .peg-ladder-leave-to
  opacity: 0

.root-ladder-enter-active, .root-ladder-leave-active
  transition: opacity .6s
.root-ladder-enter, .root-ladder-leave-to
  opacity: 0