.page-enter-active, .page-leave-active
  transition: opacity .3s
.page-enter, .page-leave-to
  opacity: 0

.root-ladder-enter-active, .root-ladder-leave-active
  transition: opacity .6s
.root-ladder-enter, .root-ladder-leave-to
  opacity: 0

.sign-dialog-enter-active, .sign-dialog-leave-active
  transition: opacity .2s
.sign-dialog-enter, .sign-dialog-leave-to
  opacity: 0
