// Common default colors
$default_primary_color: #4597f5
$default_secondary_color: #BBDEFB
$default_tertiary_color: #78909C

$default_button_color: #64B5F6
$default_border_color: #C9C9C9
$default_learning_button_color: #FFB74D
$default_learned_button_color: #81C784

$default_ladder_disable_color: #CFD8DC
$default_ladder_activate_color: #89bbf5
$default_ladder_first_color: #90A4AE
$default_ladder_first_activate_color: #4597f5

$default_small_text_color: #90A4AE
