.unit-wrap
  position: relative
  align-items: flex-start
  @media (min-width: $media_desktop_sm)
    margin: 0 0 0 4%
    max-width: 800px

.unit-head
  margin: 0 0 20px
  font-size: 18px
  color: #B0BEC5

.unit-item
  padding: 40px 15px 15px
  margin: 0 0 30px
  height: 90vh
  background: #fff
  box-shadow: $default_shadow_card
  border-radius: 16px
  @media (min-width: $media_desktop_sm)
    padding: 20px 30px 40px
    margin: 0 0 60px
    box-shadow: none

.unit-title
  margin: 0 0 30px
  text-align: center
  font-size: 24px
  font-weight: 400
  @media (min-width: $media_desktop_sm)
    margin: 0 0 30px
    text-align: center
    font-size: 32px

.unit-point
  text-align: center

.unit-point-item
  padding: 5px 10px
  background: #ECEFF1

.unit-image-wrap
  width: 100%
  margin: 0 auto 30px
  text-align: center
  @media (min-width: $media_desktop_sm)
    margin: 40px auto
    max-width: 800px
    .unit-image-link:hover
      .unit-image
        box-shadow: $default_shadow_image_hover

.unit-image
  margin: 0 auto
  width: 80%
  box-shadow: $default_shadow_image
  @media (min-width: $media_desktop_sm)
    transition: .4s all
    box-shadow: $default_shadow_image
    max-width: 60%
    width: 60%

.unit-description
  font-size: 14px
  border-left: 3px solid #64B5F6
  padding: 0 0 0 10px
  width: 90%
  margin: 0 auto
  @media(min-width: $media_desktop_sm)
    font-size: 18px
    padding: 0 0 0 10px
    width: 80%

.ladder-wrap
  z-index: 100
  position: fixed
  top: -100%
  display: flex
  align-items: center
  justify-content: center
  width: 100vw
  height: 100vh
  opacity: 0
  background-color: rgba(0, 0, 0, .5)
  transition: all 1s
  @media (min-width: $media_desktop_sm)
    position: relative
    top: 0
    width: auto
    height: auto
    opacity: 1
    background: none

.ladder-wrap-show
  top: 0
  opacity: 1

.ladder-item
  position: relative
  padding: 6px 10px
  background: $default_ladder_disable_color
  border-bottom: 1px solid #546E7A
  cursor: pointer
  @media(min-width: $media_desktop_sm)
    padding: 10px
    &:hover
      opacity: .7
  p
    margin: 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    font-weight: bold
    color: #fff
    pointer-events: none
  &:first-of-type
    background-color: $default_ladder_first_color
    &:after
      content: ''
      position: absolute
      top: -30px
      left: 0
      display: inline-block
      width: 6px
      height: 30px
      background: $default_ladder_first_color
      border-radius: 4px 4px 0 0
      @media(min-width: $media_desktop_sm)
        top: -40px
        height: 40px
    &:before
      content: ''
      position: absolute
      top: -30px
      right: 0
      display: inline-block
      width: 6px
      height: 30px
      background: $default_ladder_first_color
      border-radius: 4px 4px 0 0
      @media(min-width: $media_desktop_sm)
        top: -40px
        height: 40px
  &:last-of-type
    border-bottom: none
    &:after
      content: ''
      position: absolute
      bottom: -30px
      left: 0
      display: inline-block
      width: 6px
      height: 30px
      background: $default_ladder_disable_color
      border-radius: 0 0 4px 4px
      @media(min-width: $media_desktop_sm)
        bottom: -40px
        height: 40px
    &:before
      content: ''
      position: absolute
      bottom: -30px
      right: 0
      display: inline-block
      width: 6px
      height: 30px
      background: $default_ladder_disable_color
      border-radius: 0 0 4px 4px
      @media(min-width: $media_desktop_sm)
        bottom: -40px
        height: 40px

.ladder-inner
  position: relative
  top: 0
  width: 70%
  @media (min-width: $media_desktop_sm)
    position: fixed
    top: 25%
    max-width: inherit
    width: 100%

.ladder-item-active
  background: $default_ladder_activate_color
  &:first-of-type
    background-color: $default_ladder_first_activate_color
    &:after
      content: ''
      position: absolute
      top: -40px
      left: 0
      display: inline-block
      width: 6px
      height: 40px
      background: $default_ladder_first_activate_color
    &:before
      content: ''
      position: absolute
      top: -40px
      right: 0
      display: inline-block
      width: 6px
      height: 40px
      background: $default_ladder_first_activate_color
  &:last-of-type
    border-bottom: none
    &:after
      content: ''
      position: absolute
      bottom: -40px
      left: 0
      display: inline-block
      width: 6px
      height: 40px
      background: $default_ladder_activate_color
    &:before
      content: ''
      position: absolute
      bottom: -40px
      right: 0
      display: inline-block
      width: 6px
      height: 40px
      background: $default_ladder_activate_color

.ladder-menu
  display: none
  @media (min-width: $media_desktop_sm)
    display: block

.unit-cover
  padding-top: 20px

.unit-cover-avatar
  border: 1px solid $default_border_color

.unit-cover-info-wrap
  margin: 0 0 10vh

.unit-cover-info
  margin: 0 0 0 10px
  white-space: nowrap

.unit-cover-info-name
  font-size: 14px
  font-weight: 400
  @media (min-width: $media_desktop_sm)
    font-size: 16px

.unit-cover-info-date
  white-space: nowrap
  font-size: 12px
  font-weight: 400
  color: $default_small_text_color
  @media (min-width: $media_desktop_sm)
    font-size: 14px

.unit-cover-btn-wrap
  display: none
  @media (min-width: $media_desktop_sm)
    display: block
    margin: 0 0 0 auto

.unit-cover-title
  margin: 0 0 5vh
  @media (min-width: $media_desktop_sm)
    margin: 0 0 10vh

.unit-description-text
  font-size: 14px
  @media (min-width: $media_desktop_sm)
    font-size: 18px

.unit-btn-wrap
  display: none
  @media (min-width: $media_desktop_sm)
    display: block
    padding: 7px 0
    margin: 0 0 8vh
    text-align: right

.ladder-activate-btn
  z-index: 100
  position: fixed
  bottom: 8px
  right: 8px
  @media (min-width: $media_desktop_sm)
    display: none

.ladder-activate-btn-image
  width: 80%
  height: 80%
  opacity: .9
