.ladder-links-wrap
  display: inline-block
  &:last-child
    border-bottom: none
.ladder-link
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-direction: row
  padding: 10px 20px
  margin: 0
  background-color: #fff
  border-bottom: 1px solid $default_border_color
  width: 100%
  &:hover
    opacity: .7
.ladder-info-wrap
  width: 100%
.ladder-link-title
  margin: 0 0 10px
  width: 100%
  text-decoration: none
  font-size: 20px
  font-weight: normal
  color: #000
.ladder-link-attach
  text-decoration: none
  text-align: right
  color: $default_tertiary_color
  font-size: 11px
  span
    font-size: 14px
    color: #000
    margin: 0 0 0 5px
.ladder-thumb-wrap
  min-width: 50px
  width: 50px
  height: 50px
  margin: 0 20px 0 0
.ladder-thumb
  max-width: 100%
  width: 100%
  height: 100%