.g-container
  padding-top: 0 !important
  padding-bottom: 0 !important
  margin: 80px 0 0
  @media (min-width: $media_desktop_sm)
    display: flex
    padding-top: 0 !important
    padding-bottom: 0 !important
    flex-direction: column
    margin: 100px 0 0

.layout-ladder-list
  position: fixed
  margin: 0 0 40px
  width: 100%

.layout-ladder-detail
  position: relative
  left: 0
  margin: 0 0 50px
  width: 100%

.layout-ladder-post
  overflow: hidden
  width: 100%

.layout-my-page
  flex-direction: column
  width: 100%

.layout-ladder-management
  position: fixed
  flex-direction: column
  width: 100%

.layout-error
  position: relative
  top: -50px

